<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Showcase</title>
    <link rel="stylesheet" href="/css/tooplate-style.css" />
    <link rel="stylesheet" href="/css/project-view.css" />
  </head>
  <body>
    <header>
      <h1>Project Showcase</h1>
    </header>

    <main>
      <img
        src="/images/ExitBlanco.png"
        onclick="history.back()"
        class="btn"
        alt="Return Icon"
      />
      <section class="project-title">
        <h2>
            <span>EDA Food Choices</span>
            <a
                href="https://colab.research.google.com/drive/12cKyh4BnBzomubawCDYPCinqbcSMceTR?usp=sharing"
                target="_blank"
                class="project-link"
            >[Link]</a>
        </h2>
        

      </section>

      <section class="tags">
        <span>Data Analysis</span>
        <span>Data Cleaning</span>
        <span>EDA</span>
        <span>Python</span>
        <span>Pandas</span>
      </section>

      <section>
        <h3>Description</h3>
        <p>
          In this project, I cleaned and explored a dataset on student
          nutritional choices. I analyzed correlations between weight and other
          variables, identified issues within the data, and provided
          recommendations for further analysis.
        </p>
      </section>

      <section>
        <h3>Things I Learned:</h3>
        <ul>
          <li>Data cleaning techniques</li>
          <li>Fundamentals of data analysis</li>
          <li>
            Correlation analysis:
            <ul>
              <li>Simple correlation</li>
              <li>Multiple-variable correlation</li>
              <li>
                Numerical and categorical correlations (grouped and ungrouped)
              </li>
            </ul>
          </li>
        </ul>
      </section>

      <h3>Some Images:</h3>
      <section class="photos">
        <figure>
          <img
            src="/resources/eda-food-choices/gender-dist-plot.png"
            alt="Gender distribution plot"
          />
          <figcaption>Gender distribution of the dataset.</figcaption>
        </figure>

        <figure>
          <img
            src="/resources/eda-food-choices/corr-gpa-weight-by-gender.png"
            alt="Correlation between GPA and weight by gender"
          />
          <figcaption>
            Correlation between GPA and weight, categorized by gender.
          </figcaption>
        </figure>

        <figure>
          <img
            src="/resources/eda-food-choices/weight-dist-by-freq-eating-out.png"
            alt="Weight distribution by eating frequency"
          />
          <figcaption>
            Weight distribution based on eating-out frequency.
          </figcaption>
        </figure>
      </section>

    

    <footer>
      <p>&copy; 2025 Yordi Brenes . All rights reserved.</p>
    </footer>
  </body>
</html>
