<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Showcase</title>
    <link rel="stylesheet" href="/css/tooplate-style.css" />
    <link rel="stylesheet" href="/css/project-view.css" />
  </head>
  <body>
    <header>
      <h1>Project Showcase</h1>
    </header>

    <main>
      <img
        src="/images/ExitBlanco.png"
        onclick="history.back()"
        class="btn"
        alt="Return Icon"
      />
      <section>
        <h2>Project Title: <span>My Amazing Project</span></h2>
      </section>

      <section class="tags">
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
      </section>

      <section>
        <h3>Description</h3>
        <p>
          This project is a showcase of my web development skills. It includes
          interactive features, modern design, and follows best practices in
          coding. The project demonstrates my ability to build responsive and
          visually appealing websites.
        </p>
        <p>
          The main objective of the project was to create a platform where users
          can explore various functionalities, such as recommendations,
          scheduling, and dynamic UI components. The technologies used include
          HTML, CSS, JavaScript, and frameworks like Angular.
        </p>
      </section>

      <section>
        <h3>Things I Learned:</h3>
        <ul>
          <li>How to structure a responsive layout</li>
          <li>Integrating APIs for dynamic content</li>
          <li>Using CSS grid for layout design</li>
        </ul>
      </section>

      <section class="photos">
        <h3>Images:</h3>
        <img
          src="/images/project/placeholderImage.png"
          alt="Project result 1"
        />
        <img
          src="/images/project/placeholderImage.png"
          alt="Project result 2"
        />
        <img
          src="/images/project/placeholderImage.png"
          alt="Project result 3"
        />
      </section>

      <section>
        <a
          href="https://github.com/yourusername/yourproject"
          target="_blank"
          class="project-link"
          >View Project</a
        >
      </section>
    </main>

    <footer>
      <p>&copy; 2025 Yordi Brenes . All rights reserved.</p>
    </footer>
  </body>
</html>
